// -----------------------------------------------------------------------------
// Mobile first
// -----------------------------------------------------------------------------

.carousel-fade {
  position: relative;
  padding: 40px 0;
  margin: 0 -15px;
    .carousel-inner {
      .item {
          transition-property: opacity;
      }
  
      .item,
      .active.left,
      .active.right {
          opacity: 0;
      }

      .active,
      .next.left,
      .prev.right {
          opacity: 1;
      }

      .next,
      .prev,
      .active.left,
      .active.right {
          left: 0;
          transform: translate3d(0, 0, 0);
      }
    }
    .carousel-indicators{
      width: 100%;
      margin: 0;
      left: 0;
      position: absolute;
      bottom: 40px;
      padding: 15px;
      background: transparentize($mpi-green, .2);
      color: white;
      .carousel_indicator{
        display: none;
        text-align: left;
        &.active{
          display: block;
          width: auto;
          height: auto;
          background: transparent;
        }
      }
    }
  }

// -----------------------------------------------------------------------------
// Small screen / tablet
// -----------------------------------------------------------------------------

@media (min-width: $screen-sm-min) {

  .carousel-fade {
    margin: 0;
    .carousel-control {
        z-index: 2;
    }

    .carousel-indicators{
      width: 100%;
      margin: 0;
      left: 0;
      top: 0;
      bottom: 0;
      background: none;
      .carousel_indicator{
        display: block;
        width: 20%;
        height: auto;
        position: absolute;
        -webkit-transition: opacity .5s linear;
        transition: opacity .5s linear;
        z-index: 2000;
        color: $grey5;
        cursor: pointer;
        &.active{
          background: none;
          width: 20%;
          h4{
            color: $mpi-green;
          }
          color: $mpi-green;
        }
      }


      .carousel_indicator{
        display: block;
      }

      .top-center{
        width: 40% !important;
        right: 50%;
        margin-right: -20%;
        bottom: 95%;
        text-align: center;
      }
      .center-left{
        text-align: right;
        top: 40%;
        left: 3%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
      }
      .center-right{
        text-align: left;
        right: 3%;
        top: 40%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
      }
      .bottom-left{
        text-align: right;
        left: 3%;
        bottom: 15%;
      }
      .bottom-right{
        text-align: left;
        bottom: 15%;
        right: 3%;
      }
    }

    .carousel-inner{
      position: relative;
      width: 40%;
      height: auto;
      padding-top: 40%;
      margin: 0 auto;
      border-radius: 50%;
      overflow: hidden;
      border: 1px dashed $mpi-green;
      .item{
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding: 15px;
        overflow: hidden;
      }
      .carousel-holder{
        background: $mpi-green;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        img{
          width: 100%;
          height: 100%;
          border-radius: 50%;
          opacity: 0.3;
        }
      }

    }

  }
  .departments{
    padding: 50px 0;
  }
  
}


// -----------------------------------------------------------------------------
// Medium screen / desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-md-min) {



}

// -----------------------------------------------------------------------------
// Large screen / wide desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-lg-min) {

}
