// -----------------------------------------------------------------------------
// Mobile first
// -----------------------------------------------------------------------------

///* Pop animation effect */
@-webkit-keyframes pop {
  50%   { transform: scale(1.05) }
}
@-moz-keyframes pop {
  50%   { transform: scale(1.05) }
}
@-o-keyframes pop {
  50%   { transform: scale(1.05) }
}
@keyframes pop {
  50%   { transform: scale(1.05) }
}


@keyframes opacity {
    from {opacity: .8;}
    to {opacity: .2;}
}


.carousel-circle {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 0;
    padding-bottom: 100%;
    position: relative;
    z-index: 5;
    width: 100%;
    display: block;
    height: auto;
    max-width: 100%;
    &:before{
      background: $mpi-green;
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: .8;
      animation-name: opacity;
      animation-duration: 3s;
    }
}

.carousel-fade {
  position: relative;
  padding: 40px 0;
  margin: 0 -15px;
    .carousel-inner {
      .item {
          transition-property: opacity;
      }
  
      .item,
      .active.left,
      .active.right {
          opacity: 0;
      }

      .active,
      .next.left,
      .prev.right {
          opacity: 1;
      }

      .next,
      .prev,
      .active.left,
      .active.right {
          left: 0;
          transform: translate3d(0, 0, 0);
      }
    }
    .carousel-departments{
      width: 100%;
      margin: 0;
      left: 0;
      position: absolute;
      bottom: 40px;
      padding: 15px;
      background: transparentize($mpi-green, .2);
      color: white;
      z-index: 999;
      .carousel_indicator{
        display: none;
        text-align: left;
        &.active{
          display: block;
          width: auto;
          height: auto;
          background: transparent;
        }
      }
    }
    .carousel-indicators{
      bottom: 0;
      z-index: 9999;
      li{
        border: 1px solid $mpi-green;
      }
      .active{
        background-color: $mpi-green;
      }
    }
  }

// -----------------------------------------------------------------------------
// Small screen / tablet
// -----------------------------------------------------------------------------

@media (min-width: $screen-sm-min) {

  .carousel-circle {
      border-radius: 50%;
      &:before{
        border-radius: 50%;
      }
  }

  .carousel-fade {
    margin: 0;
    .carousel-control {
        z-index: 2;
    }

    .carousel-departments{
      width: 100%;
      margin: 0;
      left: 0;
      top: 0;
      bottom: 0;
      background: none;
      .carousel_indicator{
        display: block;
        width: 20%;
        height: auto;
        position: absolute;
        -webkit-transition: opacity .5s linear;
        transition: opacity .5s linear;
        z-index: 2000;
        color: $grey5;
        cursor: pointer;
        .info{
          display: none;
        }
        &.active{
          background: none;
          width: 20%;
          -webkit-animation-name: pop;
          animation-name: pop;
          -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
          
          h4{
            color: $mpi-green;
          }
          color: $mpi-green;
        }
      }


      .carousel_indicator{
        display: block;
      }

      .top-center{
        width: 40% !important;
        right: 50%;
        margin-right: -20%;
        bottom: 95%;
        text-align: center;
      }
      .center-left{
        text-align: right;
        top: 30%;
        left: 3%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
      }
      .center-right{
        text-align: left;
        top: 30%;
        right: 3%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
      }
      .bottom-left{
        text-align: right;
        left: 3%;
        bottom: 15%;
      }
      .bottom-right{
        text-align: left;
        bottom: 15%;
        right: 3%;
      }
    }

    .carousel-inner{
      position: relative;
      width: 40%;
      height: auto;
      padding-top: 40%;
      margin: 0 auto;
      border-radius: 50%;
      overflow: hidden;
      border: 1px dashed $mpi-green;
      .item{
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding: 15px;
        overflow: hidden;
      }
      .carousel-holder{
        background: $mpi-green;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        img{
          width: 100%;
          height: 100%;
          border-radius: 50%;
          opacity: 0.3;
        }
      }

    }

  }
  .departments{
    padding: 50px 0;
  }
  
}


// -----------------------------------------------------------------------------
// Medium screen / desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-md-min) {

  .carousel-fade{
    .carousel-departments{
      .carousel_indicator{
        .info{
          display: block;
        }
      }
    }
  }
}

// -----------------------------------------------------------------------------
// Large screen / wide desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-lg-min) {

}
