//
// Components
// --------------------------------------------------
//
// Components are project specific building blocks.


// -----------------------------------------------------------------------------
// Mobile first
// -----------------------------------------------------------------------------


//#parent-fieldname-text img{
//  @extend .img-responsive;
//}

.error{
  color: red;
}

a{
  font-weight: 600;
}

h5{
  font-weight: bold;
}

video {
  margin-bottom: 15px;
}

dt, dd {
  line-height: 1.9em!important;
}

#content {
  line-height: normal;
  font-size: 100%;
  margin: 0;
  p,li {
    line-height:1.5em;
  }
}

.tileItem {
  a{
    text-decoration: none;
  }
  .tileImage{
    float: right;
  }
}

.state-published{
  color: $brand-primary !important;
}

.portalMessage{
  @extend .alert;
  &.success{
    @extend .alert-success;
  }
  &.info{
    @extend .alert-info;
  }
  &.error{
    @extend .alert-danger;
  }
  &.warning{
    @extend .alert-warning;
  }
}

.outer-wrapper{
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
}

.content-wrapper{
  background: $grey2;
  padding: 50px 0;
  article{
    background: $grey1;
    color: $grey8;
    padding: 15px 0;
    margin: 15px 0;
    > *{
      padding: 0 15px;
    }
    .publication {
      margin: 10px 15px;
      border-bottom: 2px dotted $mpi-green;
      padding: 0;
      a{
        display: table;
        padding: 10px 0;
        i{
          padding-left: 5px;
          font-weight: inherit;
        }
      }
    }
  }
  h2{
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid $grey3;
    color: $mpi-green;
    font-size: 26px;
    i{
      padding-right: 15px;
    }
  }
  h5{
    color: $mpi-green;
  }
  .article-news{
    span{
      display: block;
    }
  }
}
.masonry:after{
  clear: both;
  display: block;
}


.btn-readmore{
  background: $mpi-green;
  color: $grey3;
  &:hover{
    color: $grey3;
    background: darken($mpi-green, 10);
  }
}


.introductie{
  background: $mpi-green;
  color: white;
  padding: 50px 0;
}

// -----------------------------------------------------------------------------
// Small screen / tablet
// -----------------------------------------------------------------------------

@media (min-width: $screen-sm-min) {

}


// -----------------------------------------------------------------------------
// Medium screen / desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-md-min) {

}

// -----------------------------------------------------------------------------
// Large screen / wide desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-lg-min) {

}
