//
// Components
// --------------------------------------------------
//
// Components are project specific building blocks.


// -----------------------------------------------------------------------------
// Mobile first
// -----------------------------------------------------------------------------


//#parent-fieldname-text img{
//  @extend .img-responsive;
//}

.error{
  color: red;
}

a{
  font-weight: 600;
}

h5{
  font-weight: bold;
}

video {
  margin-bottom: 15px;
}

dt, dd {
  line-height: 1.9em!important;
}

#content {
  line-height: normal;
  font-size: 100%;
  margin: 0;
  p,li {
    line-height:1.5em;
  }
}

.tileItem {
  a{
    text-decoration: none;
  }
  .tileImage{
    float: right;
  }
}

.state-published{
  color: $brand-primary !important;
}

.portalMessage{
  @extend .alert;
  &.success{
    @extend .alert-success;
  }
  &.info{
    @extend .alert-info;
  }
  &.error{
    @extend .alert-danger;
  }
  &.warning{
    @extend .alert-warning;
  }
}

.outer-wrapper{
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
}

.content-wrapper{
  background: $grey1;
  padding: 50px 0;
  article{
    background: white;
    color: $grey8;
    padding: 15px 0;
    margin: 15px 0;
    > *{
      padding: 0 15px;
    }
    .publication {
      margin: 10px 15px;
      border-bottom: 2px dotted $mpi-green;
      padding: 0;
      a{
        display: table;
        padding: 10px 0;
        i{
          padding-left: 5px;
          font-weight: inherit;
        }
      }
    }
  }
  h2{
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid $grey3;
    color: $mpi-green;
    font-size: 26px;
    i{
      padding-right: 15px;
    }
  }
  h5{
    color: $mpi-green;
  }
  .article-news{
    span{
      display: block;
    }
    img{
      padding: 10px 0;
    }
  }
}
.masonry:after{
  clear: both;
  display: block;
}


.btn-mpigreen{
  background: $mpi-green;
  color: $grey1;
  &:hover{
    color: $grey3;
    background: darken($mpi-green, 10);
  }
}

.introductie{
  background: $mpi-green;
  color: white;
  padding: 50px 0;
  h3{
      margin-top: 0;
  }
}

.fullscreen{
    cursor: pointer;
}

.youtube{
  position: fixed;
  height: 0;
  width: 0;
  margin: auto;
  background: black;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 99;
  overflow: hidden;
  .youtubeholder{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-height: 80%;
  }
  .closeyt{
    font-size: 24px;
    float: right;
    margin: 20px;
    padding: 0;
    height: 20px;
    width: 20px;
    line-height: 20px;
  }
  video{
    width: 100%;
    height: 100%;
    margin: 0;
    background: black;
  }
  .controls{
    background: $mpi-green;
    list-style: none;
    display: none;
    li{
      display: inline-block;
      border-right: 1px solid $grey3;
      padding: 0 5px;
      width: 50px;
      button{
        padding: 10px;
        border: 0;
        background: transparent;
        color: $grey3;
        font-size: 20px;
        &:focus{
          outline-style:none;
          box-shadow:none;
          border-color:transparent;
        }
      }
      &.volume-bar{
        width: auto;
      }
      &.progress{
        margin: 0;
        height: auto;
        padding: 10px;
        border-radius: 0;
        overflow: initial;
        box-shadow: none;
        background-color: $mpi-green;
        width: auto;
        progress{
          /* Reset the default appearance */
          -webkit-appearance: none;
           appearance: none;
          width: 250px;
          height: 15px;
          &::-webkit-progress-bar {
            background-color: $grey3;
            border-radius: 2px;
            border: 2px solid $grey3;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
          }
          &::-webkit-progress-value {
            background: $mpi-green;
          }
        }
      }
      &:first-child{
          border-left: 1px solid $grey3;
      }
    }
  }
}

.article-twitter section{
  margin: 10px 15px;
  border-bottom: 2px dotted #5d8787;
  padding: 0;
}

.modal-content{
  border-radius: 0;
  border-color: $mpi-green;
  .modal-header{
    background: $mpi-green;
    color: #fff;
  }
}


// -----------------------------------------------------------------------------
// Small screen / tablet
// -----------------------------------------------------------------------------

@media (min-width: $screen-sm-min) {

}


// -----------------------------------------------------------------------------
// Medium screen / desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-md-min) {

}

// -----------------------------------------------------------------------------
// Large screen / wide desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-lg-min) {

}
