//
// Header
// --------------------------------------------------
//
// The header elements.
// ------------------------
// Header Parts
// ------------------------

.logobar{
  background: $grey3;
}

.logo{
    
}

.navbar{
  text-transform: uppercase;
  .container{
    position: relative;
  }
}
.navbar-brand{
  color: $mpi-green;
  font-size: 18px;
  span{
    width: 240px;
    display: block;
  }
}

.navbar-collapse{
  box-shadow: none;
}

.logobar{
  background: url("../img/header_bg.png");
  background-size: cover;
  .search {
    margin: 0 -15px;
    padding: 20px 15px;
    background: $grey9;
    display: none;
    .input-group input.form-control {
       border-top-left-radius: 10px;
       border-bottom-left-radius: 10px;
    }
    .btn-default{
     background-color: $grey9;
     color: $grey6;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
    }
  }
  .navbar-toggle{
    background-color: $mpi-green;
    top: 15px;
    padding: 13px 11px;
    margin-right: 10px;
    position: inherit;
    margin-bottom: 10px;
    .icon-bar{
      background: #fff;
    }
    i{
      color: #fff;
    }
  }
  .btn-search{
    padding: 7px 10px;
    margin-top: 11px;
  }
}

.max_logo{
  position: absolute;
  right: 0;
  top: -17px;
}

// -----------------------------------------------------------------------------
// Mobile first
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Small screen / tablet
// -----------------------------------------------------------------------------

@media (min-width: $screen-sm-min) {
  
  .navbar-brand{
    font-size: 24px;
  }
  
  .logobar{
    height: 100px;
    .search {
      display: block;
      margin: 2em 0 0 0;
      padding: 0;
      background: transparent;
    }
  }
  .navbar-brand{
    margin-top: 25px;
    padding: 0 15px;
    span{
      width: 400px;
    }
  }

}

// -----------------------------------------------------------------------------
// Medium screen / desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-md-min) {

  .navbar-brand{
    span{
      width: auto;
    }
  }

}

// -----------------------------------------------------------------------------
// Large screen / wide desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-lg-min) {

}
