//
// Header
// --------------------------------------------------
//
// The header elements.
// ------------------------
// Header Parts
// ------------------------

.logobar{
  background: $grey3;
  height: 150px;
}

.navbar{
  text-transform: uppercase;
  .container{
    position: relative;
  }
}
.navbar-brand{
  color: $mpi-green;
  font-size: 24px;
  margin-top: 50px;
}


.logobar{
  .search {
     margin: 2em 0 0 0;
     padding: 0;
     background: transparent;
     display: block !important;
     .input-group input.form-control {
         border-top-left-radius: 10px;
         border-bottom-left-radius: 10px;
     }
     .btn-default{
       background-color: $grey9;
       color: $grey6;
       border-top-right-radius: 10px;
       border-bottom-right-radius: 10px;
     }
  }
}

.max_logo{
  position: absolute;
  right: 0;
  top: -17px;
}

// -----------------------------------------------------------------------------
// Mobile first
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Small screen / tablet
// -----------------------------------------------------------------------------

@media (min-width: $screen-sm-min) {

}

// -----------------------------------------------------------------------------
// Medium screen / desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-md-min) {

}

// -----------------------------------------------------------------------------
// Large screen / wide desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-lg-min) {

}
